/.DS_Store
/1-1.ADE-ADE identification
/105.MIMIC-IV CDM
/105_valid_tasks.json
/106.MIMIC-III Outcome.LoS
/19.ClinicalNotes-UPMC
/__pycache__
/ans.json
/azure.py
/judge_evaluation
/main.py
/updated_judge_evaluation.zip